@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'montserrat';
}

#temp {
    font-size: 2em;
    margin-bottom: 2px;
}

#name {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 0;
}

#output {
    display: flex;
}

header {
    width: 100%;
    padding: 20px;
    background-color: lightgray;
}
